<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/theme/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/pygment.css" />
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans|PT+Serif" rel="stylesheet">
        {% endblock head %}
    </head>
    <body>
        <div id="box">
            {% block body %}
            <header>
                <img src="/theme/images/top_img.jpg" width="100%"> 
            </header>
            <nav>
                <a href="{{ SITEURL }}"><div id="home"># comment out</div></a>
                <ul>
                    <a href="{{SITEURL}}"><li>Blog</li></a>
                    <a href="{{filename}}/pages/about-me.html"><li>About</li></a>
                </ul>
            </nav>
            <main>
                {% block content %}
                {% endblock content %}
            </main>
            <footer>
            </footer>
            {% endblock body %}
        </div>
    </body>
</html>
