<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
        <title>{% block title %}{% endblock title %}</title>
        <meta charset="utf-8" />
        <link rel="stylesheet" type="text/css" href="/theme/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/theme/css/pygment.css" />
        <link href="https://fonts.googleapis.com/css?family=Inconsolata|PT+Sans|PT+Serif" rel="stylesheet">
        {% if FEED_ALL_ATOM %}
        <link href="{{ FEED_DOMAIN }}/{% if FEED_ALL_ATOM_URL %}{{ FEED_ALL_ATOM_URL }}{% else %}{{ FEED_ALL_ATOM }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Full Atom Feed" />
        {% endif %}
        {% if CATEGORY_FEED_ATOM and category %}
        <link href="{{ FEED_DOMAIN }}/{% if CATEGORY_FEED_ATOM_URL %}{{ CATEGORY_FEED_ATOM_URL.format(slug=category.slug) }}{% else %}{{ CATEGORY_FEED_ATOM.format(slug=category.slug) }}{% endif %}" type="application/atom+xml" rel="alternate" title="{{ SITENAME }} Categories Atom Feed" />
        {% endif %}
        {% endblock head %}
    </head>
    <body>
        <div id="box">
            {% block body %}
            <header>
            </header>
            <nav>
                <a href="{{ SITEURL }}"><div id="home"># comment out</div></a>
                <ul>
                    <a href="{{filename}}/pages/about-me.html"><li>About</li></a>
                </ul>
            </nav>
            <main>
                {% block content %}
                {% endblock content %}
            </main>
            <footer>
            </footer>
            {% endblock body %}
        </div>
    </body>
</html>
