{% extends "base.html" %}

{% block title %}commentout.com{% endblock %}

{% block content %}
<div class="page-heading">
    <h1>Posts</h1>
    <a href="{{ FEED_ALL_ATOM_URL }}" style="display: inline;">
        <img class="transparent" src="{{ SITEURL }}/images/feed.png" alt="Atom feed link" width="16" height="16"></img>
    </a>
</div>

<ul class="post-list">
    {% for post in dates %}
    <li>
        <a href="{{ post.url }}">
            <h3>{{ post.title }}</h3>
        </a>
        <span class="post-date">{{ post.locale_date }}</span>
    </li>
    {% endfor %}
</ul>
{% endblock %}

