body {
    margin: 0px;
    padding: 0px;
    background-color: #FDFDFD;
}

#box {
    background-color: #ffffff;
    width: 1000px;
    margin: auto;
    margin-bottom: 100px;
}

nav {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

nav #home {
    font-family: 'Inconsolata', monospace;
    font-size: 1.2em;
    font-style: italic;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    color: #5D5D5D;
}

nav ul {
    font-size: 0.9em;
    padding: 0px;
    margin: 0px;
    height: 40px;
    float: right;
    color: #33444E;
    font-style: italic;
}

nav li {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-right: 20px;
    line-height: 40px;
    height: 40px;
    vertical-align: baseline;
}

main {
    display: block;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
    width: 900px;
    color: #0C1408;
    font-size: 1.1em;
    font-family:'PT Serif', 'Palatino', 'Palatino Linotype', 'Palatino LT STD', 'Book Antiqua', 'Georgia', serif;
}

main a {
    color: #2a7ae2;
    text-decoration: none;
}

.page-heading h1 {
    font-size: 1.1em;
    display: inline;
    margin-right: 10px;
}

main code {
    background-color: #FCFCFC;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.2em;
    font-family: 'Inconsolata', monospace;
    font-size: 0.85em;
    color: #c71d47;
}

main pre {
    background-color: #FCFCFC;
    padding: 10px 20px;
    border-width: 0.1em;
    border-style: solid;
    border-color: #cccccc;
    font-family: 'Inconsolata', monospace;
    font-size: 0.85em;
    overflow-x: scroll;
}

main .title {
    font-size: 2em;
    font-weight: normal;
    clear: both;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    margin-bottom: 0px;
}

main .article-subtitle {
    margin-top: 0px;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    font-style: italic;
    font-weight: normal;
    font-size: 1.2em;
    color: #444;
}

main .article-date {
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
    color: #999;
}

main .article-content {
    text-align: left;
}

main .article-content a {
    color: #07C;
}

main .article-content a:hover {
    text-decoration: underline;
}

main .article-content h2 {
    font-weight: normal;
    font-family: 'PT Sans', Helvetica, Arial, sans-serif;
}

main .article-content .footnote {
    margin-top: 200px;
    font-size: 0.9em;
}

.post-list {
    margin-left: 0px;
    list-style: none;
    padding: 0px;
}

.post-list a {
    display: inline-block;
    margin-right: 15px;
}

.post-list .post-date {
    font-size: 0.8em;
    font-style: italic;
    color: #999;
}

footer {
    clear: both;
    height: 100px;
}
