body {
    margin: 0px;
    padding: 0px;
}

a {
    color: inherit;
    text-decoration: inherit;
}

#box {
    background-color: #FDFDFD;
    width: 1000px;
    margin: auto;
}

nav {
    width: 90%;
    margin: auto;
    margin-top: 10px;
    height: 40px;
    border-top-style: solid;
    border-top-width: 1px;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}

nav #home {
    font-family: 'Inconsolata', monospace;
    font-size: 1.3em;
    font-style: italic;
    line-height: 40px;
    height: 40px;
    display: inline-block;
    color: #5D5D5D;
}

nav ul {
    font-size: 0.9em;
    padding: 0px;
    margin: 0px;
    height: 40px;
    float: right;
    color: #33444E;
    font-style: italic;
}

nav li {
    font-family: 'Raleway', sans-serif;
    display: inline-block;
    margin-right: 20px;
    line-height: 40px;
    height: 40px;
    vertical-align: baseline;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 800px;
    color: #0C1408;
    font-size:1.2em;
    font-family: 'Cormorant Garamond', 'Baskerville', 'Palatino', 'Palatino Linotype', serif;
    text-align: center;
    text-rendering: optimizeLegibility !important;
    -webkit-font-smoothing: antialiased !important;
    -moz-osx-font-smoothing: grayscale !important; 
}

main code {
    background-color: #eff0f1;
    padding-left: 0.3em;
    padding-right: 0.3em;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    border-radius: 0.2em;
    font-family: 'Inconsolata', monospace;
    font-size: 0.9em;
}

main pre {
    background-color: #eff0f1;
    padding: 0.7em 1.0em;
    border-radius: 0.5em;
    font-family: 'Inconsolata', monospace;
    font-size: 0.8em;
}

main h1 {
    font-size: 1.35em;
    font-weight: normal;
    clear: both;
    text-decoration: underline;
}

main .article-content {
    text-align: left;
}

main .article-content a {
    color: #07C;
}

main .article-content a:hover {
    text-decoration: underline;
}

main .article-content h2 {
    text-decoration: underline;
    font-weight: normal;
}

footer {
    clear: both;
}
